@media ( min-width:992px) {
    .container{
    width:1200px;
    margin:auto;
    }
    body {
    font-family: 'Roboto', sans-serif;;
    }
    }
    
    .heading {
    margin: auto;
    background-color: rgb(5, 253, 253);
    color: white;
    width: 15%;
    text-align: center;
    font-family:'Fredoka One', cursive;;
    }
    
    
    
    }
    .column{
    float: left;
    width: 50%;
    }
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .col {
    float: left;
    width: 33.33%;
    }
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .img {
    width: 80px;
    height: 80px;
    }
    .row {
    text-align: center;
    }
    .container h2:hover {
    cursor: pointer;
    line-height: 1.5;
    border-spacing: 10px 10em;
    }
    