.container{
    width: 100%;
}
h1{
    font-family: 'Fredoka One',cursive;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:30px;
    margin-bottom: 50px;
}
.logo{
    font-family: 'Fredoka One', cursive;
    font-size: 43px;
}
.logo a{
    text-decoration: none;
    color: rgb(103, 204, 204);
}
