
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Roboto', sans-serif;
 }
 .container{
    width: 100%;
 }
 .heading {
    background-color: rgb(103, 204, 204);
    width: 25%;
    margin: auto;
    border-radius: 10px;
}
.heading h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One',cursive;
}
.subheading{
    background-color: rgb(103, 204, 204);
    width:20%;
    margin: auto;
}
.subheading h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.generalimage { 
    width: 20rem;
} 
.services {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    border-radius: 20px;
  }
.services img{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width:200px;
    height:210px;
}
.allservices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}
.dentistcontent { 
    margin-top: 10px;
 } 
 .gynaecologycontent {
    margin-top: 10px;
 }
 .psychosocialcontent {
    margin-top: 10px;
 }


@media ( min-width:992px) {
    .container{
        width:1400px;
        margin:auto;
        background-color: rgba(0,0,0,0.1);
    }
    
}